# General
.Rhistory
.Rproj.user
/deliveries
.*.swp
/commonsMath.Rcheck
/R/commonsMath/java/commonsmath_*-sources.jar
/R/commonsMath/inst/java/scala-*/commonsmath_*.jar

#SBT
target

# Mac
.DS_Store

# IntelliJ
.idea
.idea_modules
*.iml
*.ipr
*.iws
.history
