# General
.Rhistory
.Rproj.user
/deliveries
.*.swp
/commonsMath.Rcheck
/R/commonsMath/java/commonsMath-source.jar
/R/commonsMath/inst/java/scala-*/commonsMath.jar
/example/R/packageUsingRJavaAndCommonsMath/java
/example/R/packageUsingRJavaAndCommonsMath/inst/java

#SBT
target

# Mac
.DS_Store

# IntelliJ
.idea
.idea_modules
*.iml
*.ipr
*.iws
.history
